.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: 16px 0 0;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 1.22;
        margin: 32px 0 0;
    }
}
