.intro {
    display: flex;
    max-width: 984px;
    margin: 92px auto auto;
    padding: 0 16px 0;
}

@media screen and (max-width: 1150px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        padding: 0 24px 0;
    }
}

@media screen and (min-width: 1024px) {
    .intro {
        padding: 0 48px 0;
    }
}